@font-face {
	font-family: Rubik-Regular;
	src: url('/project/www/fonts/Rubik-Regular.ttf');
}
@font-face{
	font-family: SourceSansPro-Regular;
	src: url('/project/www/fonts/SourceSansPro-Regular.ttf');
}
 @font-face{
	font-family:tahoma;
	src: url('/project/www/fonts/tahoma.ttf/');
}
*,*:after,*:before {
	box-sizing: border-box;
	transition: .3s ease-in-out;
	padding: 0;
	margin: 0;
}
body {
	background-image: url('/project/www/img/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
header {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 130px;
	color: white;
}
.navigation {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	padding: 0 15px;
}
.navigation__ul {
	list-style: none;
	padding-right: 2%;
}
.navigation__ul > li {
	float: right;
	text-align: center;
	padding: 2%;
}
.logo {
	float: left;
	padding-left: 2%; 
	padding-bottom: 3%;
 	height: 138px;
 	width: 213px;
}
.icon {
	 width: 70px;
 	height: 70px;
 	display: inline-block;
 	background-image: url('/project/www/img/log_in.png');
 	background-size: cover;
}
article {
	line-height: 1.5;
	padding: 30px;
	text-align: justify;
}
.global {
display: inline-block;
padding: 1.5%;
float: right;
}
main {
	color: white;
	float: left;
	width: 61%;
	font-size: 16px;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: SourceSansPro-Regular;

}
#main-menu{
float: left;
margin-right: 1.5%;
width: 18%;
list-style: none;
background-color: rgba(0, 0, 0, 0.5);
font-size: 24px;
color: white;
	position: sticky;
	top: 0;
	min-height: 0em;
}
	#main-menu li {
		display: block;

text-align: center;
}

.menu-toggle {
   display: none;
   position: relative;
   float: left;
   width: 40px;
   height: 40px;
   margin-top: 20px;
   margin-left: 20px;
   background: #EF5A42;
   cursor: pointer;
}
h1::selection, h2::selection, h3::selection, p::selection, article::selection {
	background-color: white;
	color: black;
}
aside{
	color: white;
	float: right;
	width: 18%;
	font-size: 16px;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: SourceSansPro-Regular;
		position: sticky;
	top: 0;
	min-height: 0em;
}
.img_news {
	width: 100%;
	height: auto;
	float: left;
	padding-top: 5%;
	padding-bottom: 5%;
}
.screenshots {
	float: right;
	width: 100%;
	height: auto;
	padding-top: 5%;
	padding-bottom: 5%;
}
h1 {
	text-align: center;
	font-family: Rubik-Regular;
	font-size:45px;}

h2 {
	font-size:30px;	
	text-align: center;
	font-family: Rubik-Regular;
}
footer {
	float: left;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	font-family: SourceSansPro-Regular;
}
section {
	margin-left: 2%;
}
@media (max-width: 768px) {
main, aside {
width: 100%;
}
.menu-toggle {
	display: block;
}
	#main-menu {
		max-height: 0;
		background: rgba(15, 25, 50, 1.0);
		float: none;
		position: absolute;
		overflow: hidden;
		top: 80px;
		right: 0;
		left: 20px;
		margin: 0;
		padding: 0;
		z-index: 3;
		width: 200px;
		color: white;
		font-size: 24px;
	}
	#main-menu li {
		display: block;
		text-align: left;
	
		margin-left: 40px;

}

}

.nav-toggle {
   display: none;
   position: relative;
   float: right;
   width: 40px;
   height: 40px;
   margin-top: 20px;
   margin-right: 20px;
   background: #EF5A42;
   cursor: pointer;
}
.nav-toggle span {
   display: block;
   position: absolute;
   top: 19px;
   left: 8px;
   right: 8px;
   height: 2px;
   background: white;
}
.nav-toggle span:before, .nav-toggle span:after {
   content: "";
   position: absolute;
   display: block;
   left: 0;
   width: 100%;
   height: 2px;
   background: white;
}
.nav-toggle span:before {
   top: -10px;
}
.nav-toggle span:after {
   bottom: -10px;
}
#menu.active {
   max-height: 150%;
}
@media (max-width: 570px){
	.nav-toggle {
		display: block;
	}
	#menu {
		max-height: 0;
		background: rgba(15, 25, 50, 1.0);
		float: none;
		position: absolute;
		overflow: hidden;
		top: 80px;
		right: 0;
		left: 0;
		margin: 0;
		padding: 0;
		z-index: 3;
		width: 100%;
	}
	#menu li {
		display: block;
		text-align: center;
		margin-right: 0;
	}
}

#main-menu {
   max-height: 100%;
   display: none;
}
	